  <!-- Profil Responsable -->
  <section class="responsable-card">
    <img src="../asset/rs.jpg" alt="Photo Responsable" class="responsable-photo" />
    <div class="responsable-info">
      <h2>KANE DIABY</h2>
      <p>RESPONSABLE DE PROGRAMME</p>
      <p>
        Sit tempor in egestas eget risus fames massa. Morbi vitae ante t ortor lacinia amet cursus est eget nisi.
        Est mauris nam a euismod in nibh.
      </p>
    </div>
    <button class="btn btn-primary mb-3" (click)="goToJustificatifs()">Justificatifs</button>
  </section>
