<div class="container ml-64 px-4 py-4">
  <!-- Carte Responsable -->
  <div class="bg-[#442A1B] text-white p-6 rounded-lg w-full mb-8">
    <div class="flex items-center space-x-4">
      <div class="w-16 h-16 bg-yellow-100 rounded flex-shrink-0 overflow-hidden">
        <img class="w-full h-full object-cover" />
      </div>
      <div class="flex-1">
        <h2 class="text-xl font-bold">{{ userInfo?.login || 'KANE DIABY' }}</h2>
        <p class="text-sm opacity-90">{{ userInfo?.role || 'RESPONSABLE DE PROGRAMME' }}</p>
        <p class="text-xs mt-2 opacity-80">
          {{ 'Sit tempor in egestas eget risus fames massa. Morbi vitae ante tortor lacinia amet cursus est eget nisl. Est mauris nam a euismod in nibh.' }}
        </p>
      </div>
      <button
        class="bg-orange-400 hover:bg-orange-500 text-white font-semibold px-5 py-2 rounded-lg transition"
        (click)="goToAbsences()">Absences</button>
    </div>
  </div>

  <!-- Section Détail Absence -->
  <div>
    <h2 class="text-lg font-bold text-black mb-6">DETAIL ABSENCE</h2>

    <!-- Carte Orange Étudiant -->
    <div class="h-screen flex items-center justify-center bg-white">
  <div *ngIf="absence" class="p-6 bg-orange-400 rounded-lg shadow-lg w-full max-w-md text-white">
    <h2 class="text-xl font-semibold mb-4 text-center">Détail de l'absence</h2>
    <p><strong>Nom :</strong> {{ absence?.nomEtudiant }}</p>
    <p><strong>Matricule :</strong> {{ absence?.matricule }}</p>
    <p><strong>Classe :</strong> {{ absence?.nomClasse }}</p>
    <p><strong>Cours :</strong> {{ absence?.nomModule }}</p>
    <p><strong>Heure :</strong>  {{absence?.heureDb}} </p>
    <p><strong>Date :</strong> {{ absence?.date | date:'longDate' }}</p>
    <p><strong>État :</strong> {{ absence?.etatAbsence }}</p>

    <button class="mt-6 bg-[#442A1B] text-white px-4 py-2 rounded hover:bg-[#2e1c12] transition" (click)="goToAbsences()">
      Retour
    </button>
  </div>
</div>


  </div>
</div>

