<div class="login-container">
  <div class="login-box">
    <img src="assets/images/logo.png" alt="ISM Logo" class="logo">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username">
      </div>
      <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" formControlName="password">
      </div>
      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>
      <button type="submit" class="sign-in-button" [disabled]="!loginForm.valid">Sign in</button>
    </form>
  </div>
</div>
