<!-- Navigation-->
<div class="flex flex-col h-full bg-orange-500 text-white w-64 space-y-6 py-7 px-2">
  <!-- Logo ou Titre -->
  <div class="flex-shrink-0 px-5">
    <h1 class="text-xl font-bold">Navigation</h1>
  </div>

  <!-- Liens de navigation -->
  <nav class="flex-1">
    <a routerLink="/dashboard" class="block py-2 px-4 rounded hover:bg-gray-700">
      <i class="fas fa-home mr-2"></i>Dashboard
    </a>
    <a routerLink="/dashboard/justifications" class="block py-2 px-4 rounded hover:bg-gray-700">
        <i class="fas fa-file-alt mr-2"></i>Justifications
      </a>
    <!-- Ajoutez d'autres liens ici -->
  </nav>

  <!-- Bouton Logout -->
  <div class="flex-shrink-0 px-5">
    <button (click)="logout()" class="w-full py-2 px-4 text-left rounded bg-red-600 hover:bg-red-700">
      <i class="fas fa-sign-out-alt mr-2"></i>Logout
    </button>
  </div>
</div>
